body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.container.Body {
  min-width: 950px;
}

.lunchTime.searchStudents{
  margin: 10px 0px 20px;
}

.transactionOrderContainer {
  margin: 5px 0px;
  max-height: 600px;
  overflow-y: auto;
}



.ui.NavBar.menu {
  font: 3rem;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0px 50px;
  border-radius: 0px;
}

.studentActionBody {
  border: none !important;
  box-shadow: none !important;
}
.navbarText {
  font-size: 1.5rem;
}
.navbarButton {
  font-size: 1.3rem;
  padding: 0px 15px;
}

.ui.buttons.sort {
  display: flex; 
  justify-content: center;
  margin: 5px auto;
  width: 65%;
  flex-basis: 0;
}
.ui.buttons.sort.grade {
  margin: 20px auto;
}

.ui.large.compact.button {
    font-family: "Tahoma", Tahoma, monospace;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.studentTable {
  min-height: 600px;
  max-height: 600px;
  overflow-y: auto;
}


.column.sort.group {
  padding-left: auto!important;
  padding-right: auto!important;
  display: inline-block;
  vertical-align: center;
}
